*{
  margin: 0;
  padding: 0;
}

::before,
::after {
box-sizing: border-box;
}

/* utility */
.section-one, .about-me, .p-aboutme, .education-section, .skills-section, .projects, .p-projects, .projects-container, .contacts, .p-contacts, .contact-list {
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Mono', monospace;
  color: #F3F3F8;
  background: url(assets/images/portfolio_background-01.png) center repeat, #222038;
  background-size: 12%;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  display: none;
}

a {
  text-decoration: none;
}


h3 {
  font-weight: 400;
}

/* navbar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s;
}

.navbar {
  display: flex;
  padding: 20px 100px;
}

.navbar-scrolled {
  backdrop-filter: blur(6px);
  background-color: rgb(34 32 56 / 90%);
}

.navbar-list {
  display: flex;
  gap: 75px;
  list-style: none;
  font-weight: 700;
}

.navbar p {
  flex-grow: 1;
}

.navbar-list-item {
  color: #F3F3F8;
}

.navbar-list-item.active, .navbar-list-item:hover {
  color:#F1D8B0;
}

/* navigation */
.navigation{
  margin: 0;
  padding: 0;
  position: fixed;
  right: 30px;
  list-style: none;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation li {
  width: 8px;
  height: 8px;
  background: #F3F3F8;
  border-radius: 50%;
  transition: all 0.3s;
}

.navigation li:hover,
.navigation li.selected{
  transform: scale(1.5);
  background: #F1D8B0;
  cursor: pointer;
}

.sections-container {
  margin-top: 65px; /* Adjust this value to match the header height */
  margin-bottom: 145px; /* Adjust this value to match the footer height */
  overflow-y: scroll;
  height: calc(100vh - 210px);

}

/* section one */
.section-one {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 100px 0 100px;
}

.section-one h1 {
  margin-bottom: 40px;
  font-family: 'Sriracha';
  color:#F1D8B0;
  font-size: 120px;
  line-height: 125px;
}

/* section two */
.section-two {
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items:center ;
  padding-top: 100px;
  margin: 0 100px 0 100px;
}

.section-two h2 {
  text-align: center;
  font-size: 100px;
  font-family: 'Sriracha';
  color:#F1D8B0;
}

.section-two h3 {
  text-align: left;
  color:#F1D8B0;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
}

.section-two .p-aboutme {
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  width: 900px;
}

/* .test {
  display: flex;
  width: 500px;
  gap: 20px;
}
.aboutme-photo {
  height: 200px;
  border-radius: 10px;
} */

.section-two .p-title {
  font-weight: 400;
  font-size: 16px;
}

.p-title span {
  color:#F1D8B0;
  font-size: 18px;
  font-weight: 700;
}

.section-two .p-subtitle {
  font-size: 14px;
}

.section-two .p-language {
  color: #F3F3F8;
  font-weight: 700;
  text-align: center;
}

.education-section {
  margin-top: 60px;
}

.education-item {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.education-item-info{
  display: flex;
}

.education-line {
  left: -21px;
  position: relative;
}

.star {
  position: relative;
  top: 5px;
  color: #F1D8B0;
  font-size: 18px;
}

.skills-section {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.skills-list {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  border-radius: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-img {
  font-size: 50px;
  color: #F1D8B0;
}

/* section three */
.section-three {
  height: 100vh;
  text-align: center;
  padding-top: 100px;
  margin: 0 100px 0 100px;
}

.section-three h2 {
  text-align: center;
  font-size: 100px;
  font-family: 'Sriracha';
  color:#F1D8B0;
}

.section-three h3 {
  text-align: center;
  font-weight: 700;
  color: #F1D8B0;
  font-size: 20px;
  margin-bottom: 10px;
}

.section-three .p-projects {
  font-size: 15px;
}

.section-three .p-subtitle {
  font-size: 14px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 60px;
  padding: 0 70px 0 70px;
  gap: 40px;

}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.project-text {
  text-align: left;
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.5s;
}

.project-image:hover{
  transform: scale(1.05);
}

/* section four */
.section-four {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 100px 0 100px;
}

.section-four h2 {
  text-align: center;
  font-size: 100px;
  font-family: 'Sriracha';
  color:#F1D8B0;
}

.section-four .p-contacts {
  font-size: 15px;
}

.contact-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.contact-list-item {
  font-size: 50px;
  color: #F1D8B0;
}

/* buttons */
.section-one-buttons {
  gap: 50px;
  display: flex;
  text-align: center;
}

.btn-talk {
  background-color: #F1D8B0;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  color:  #222038;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #F1D8B0;
}

.btn-download {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  width: 150px;
  height: 40px;
  background-color: #222038;
  color: #F3F3F8;
  border-radius: 10px;
  border: 3px solid #F1D8B0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-list {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  list-style: none;
}

.footer-list-item {
  color:#F1D8B0;
  font-size: 20px;
}

.line {
  left: 9px;
  position: relative;
}

/* projects pages */
.project-individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin: 0 100px 100px 100px;
}

.project-individual h2 {
  text-align: center;
  font-size: 100px;
  font-family: 'Sriracha';
  color:#F1D8B0;
}
.punch-line {
  font-size: 20px;
  margin: -20px 0 20px 0;
}

.project-individual-p {
  text-align: center;
  font-size: 14px;
  width: 900px;
  margin-bottom: 20px;
}

.project-individual span {
  color: #F1D8B0;
}

.project-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
  padding: 0 70px 0 70px;
}

.project-img {
  width: 100%;
  height: 100%;
}

.project-link {
  display: flex;
  margin-top: 10px;
  gap: 5px;
  position: relative;
  z-index: 99;
}

.project-link a{
  color: #F1D8B0;
  cursor: pointer;
}

.freepik a {
  font-size: 10px;
  color: #f3f3f8ac;
  position: relative;
  z-index: 99;
}
